/* PHASE 0: Reset */

/* resets browser defaults */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {

  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  box-sizing: inherit;
  background: transparent;
  text-decoration: none;
}
/*input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
}
input[type="submit"] {
}*/

ul {
  display: none;

}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  display: inline-block;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: auto;
  font: inherit;
  vertical-align: baseline;
}

button,
input[type="submit"] {
  display: inline;
  cursor: pointer;

}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
