/* PHASE 5: Cats */

.content-header{
  display: block;
  background-image: url('../../shared/img/cats.jpg');
  height: 200px;
  width: 900px;
  background-size: 100%;
  position: relative;
}


.content-header-name {
  position: absolute;
  left: 240px;
  top: 135px;
  color: white;
  font-weight: 300;
  font-size: 36px;
  text-shadow: 2px 2px grey;
}


.content-header-add {
  position: absolute;
  right: 20px;
  top: 140px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  padding: 10px 20px 10px 20px;
}
